
data/colonge_small/dom1l-fp_32356_5645_1_nw.xyz
data/colonge_small/LoD2_356_5645_1_NW.gml
data/colonge_small/shp_koeln/gis_osm_buildings.dbf
data/colonge_small/shp_koeln/gis_osm_buildings.prj
data/colonge_small/shp_koeln/gis_osm_buildings.qpj
data/colonge_small/shp_koeln/gis_osm_buildings.shp
data/colonge_small/shp_koeln/gis_osm_buildings.shx
data/colonge_small/shp_koeln/gis_osm_landuse.dbf
data/colonge_small/shp_koeln/gis_osm_landuse.prj
data/colonge_small/shp_koeln/gis_osm_landuse.qpj
data/colonge_small/shp_koeln/gis_osm_landuse.shp
data/colonge_small/shp_koeln/gis_osm_landuse.shx
data/colonge_small/shp_koeln/gis_osm_natural.dbf
data/colonge_small/shp_koeln/gis_osm_natural.prj
data/colonge_small/shp_koeln/gis_osm_natural.qpj
data/colonge_small/shp_koeln/gis_osm_natural.shp
data/colonge_small/shp_koeln/gis_osm_natural.shx
data/colonge_small/shp_koeln/gis_osm_pofw_a.dbf
data/colonge_small/shp_koeln/gis_osm_pofw_a.prj
data/colonge_small/shp_koeln/gis_osm_pofw_a.qpj
data/colonge_small/shp_koeln/gis_osm_pofw_a.shp
data/colonge_small/shp_koeln/gis_osm_pofw_a.shx
data/colonge_small/shp_koeln/gis_osm_pois_a.dbf
data/colonge_small/shp_koeln/gis_osm_pois_a.prj
data/colonge_small/shp_koeln/gis_osm_pois_a.qpj
data/colonge_small/shp_koeln/gis_osm_pois_a.shp
data/colonge_small/shp_koeln/gis_osm_pois_a.shx
data/colonge_small/shp_koeln/gis_osm_transport.dbf
data/colonge_small/shp_koeln/gis_osm_transport.prj
data/colonge_small/shp_koeln/gis_osm_transport.qpj
data/colonge_small/shp_koeln/gis_osm_transport.shp
data/colonge_small/shp_koeln/gis_osm_transport.shx
data/colonge_small/shp_koeln/gis_osm_transport_a.dbf
data/colonge_small/shp_koeln/gis_osm_transport_a.prj
data/colonge_small/shp_koeln/gis_osm_transport_a.qpj
data/colonge_small/shp_koeln/gis_osm_transport_a.shp
data/colonge_small/shp_koeln/gis_osm_transport_a.shx
data/colonge_small/small.las
data/colonge_small/small.xyz
